component-card .card{
    padding: 0.1rem .5rem;
    background-color: white;
    display: flex;
    
    border-radius: 6px;

    & .status{
        flex-grow: 1;
        width: 10%;
        height: 100%;
        background-color: 6px solid var(--goiaba-amarelo);
    }

}