@import url("../components/card/card.css");
@import url("../components/buttonAdd/addButton.css");

.columns{
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
}

#todo, #progress, #done{
    flex: 1 1 0%;
    min-width: 300px;
    max-width: 600px;
}
.column{
    padding: 1rem 2rem;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
    background-color: #a7f3d0;
}

header{
    width: 100vw;
    height: 64px;
    background-color: #10b981;
}

.highlight {
    background-color: #a7f3d0aa;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #86efac;
}

#modal, #modaldois{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000000;
    display:none;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: #0003;
    font-size: 16px;

    & .modalheader{
        display: flex;
        align-items: center;
        
        & span{
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }
    }

    & #modal-content, #modaldois-content{
        max-width: 30%;
        background-color: white;
        border-radius: .4rem;
        z-index: 100000000000000000000000000000000000000000;
        width: 80vw;
        height: 80vh;
        padding: 2rem;  
        
        & form{
            display: flex;
            flex-direction: column;
            
            & label{
                font-size: 18px;
                font-weight: bold;
                user-select: none;
            }

            & span{
                font-size: 18px;
                font-weight: bold;
                user-select: none;

                &:hover{
                    cursor: pointer;
                }
            }
            
            & .prioridade{
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                & label{
                    font-size: 16px;
                    font-weight: normal;
                    user-select: none;
                }

                & input{
                    max-width: 1rem;
                }
            }
            & input{
                margin: .5rem 0;
                padding: .5rem;
                border-radius: .5rem;
                margin-bottom: 1rem;
                font-size: 15px;
            }
            & input[type="submit"]{
                position: relative;
                border: .2rem var(--goiaba-verde-dark) solid;
                color: white;
                background-color: var(--goiaba-verde-dark);
                cursor: pointer;
                transition: .25s;
                max-width: 10rem;
                right: 0;
                bottom: 0;
                &:hover{
                    background-color: var(--goiaba-verde);
                }
                
            }

            & textarea{
                padding: .3rem;
                width: 100%;
                margin: .5rem 0;
                border-radius: .5rem;
                resize: none;
                font-size: 14px;
                border: 2px black solid;
                font-family: 'Montserrat', sans-serif
            }
            
        }
    }
}

.removeButton{
    position: relative;
                border: .2rem var(--goiaba-podi) solid;
                color: white;
                background-color: var(--goiaba-podi);
                cursor: pointer;
                transition: .25s;
                max-width: 10rem;
                right: 0;
                bottom: 0;
                &:hover{
                    background-color: var(--goiaba-podi-light);
                }
}

.modalVisible{
    display: flex !important;
}

