:root{
    --goiaba-verde-dark: #1c8839;
    --goiaba-verde: #0bbf3c;
    --goiaba-verde-light: #2be05b;
    --goiaba-amarelo: #F9BA32;
    --goiaba-podi:#BF5A43 ;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
    background-color: #a7f3d0;
}

header{
    width: 100vw;
    height: 64px;
    background-color: #10b981;
}

.columns{
    padding: 1.5rem;
}

.card-content{
    background-color: white;
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
}

.highlight {
    background-color: #a7f3d0aa;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #86efac;
}