:root{
    --goiaba-verde-dark: #1c8839;
    --goiaba-verde: #0bbf3c;
    --goiaba-verde-light: #2be05b;
    --goiaba-amarelo: #F9BA32;
    --goiaba-podi:#BF5A43 ;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}